<!--paginate.ejs-->
<style>
    #RestaurantDetail{ color:rgb(0, 7, 12)}
    #RestaurantCoins{ color:rgb(0, 7, 12)}
</style>
<div class="columns" id="main column">
    <% infos.forEach( function(info) { %>
    <div class="column card">
        <a href='/oolong/detail/<%= info.id %>'>
            <div class="column">
                <figure class="image is-square">
                    <img style="object-fit:cover" src="<%= info.Image %>" />
                </figure>
                <div class="notification">
                    <div class="content is-medium" id="RestaurantName">           
                        <%= info.Restaurant %>
                    </div>  
                    <div class="content is-small" id="RestaurantDetail">
                        <%= info.Title %>
                    </div>
                    <div class="content is-small" id="RestaurantCoins">
                        Coins:<%= info.Coins %>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <% }); %>
    <div class="column">
        <form>
            
            <div class="field">
                <label class="label">Region</label>
                <div class="control">
                    <div class="select">
                        <select name="Region" onchange="RegionSelected(this.value)" id='Region'>
                            <!-- this.value -->>
                            <option value="">Not Specified</option>
                            <option value="Kowloon">Kowloon</option>
                            <option value="HK Island">HK Island</option>
                            <option value="New Territories">New Territories</option>
                        </select>
                    </div>
                </div>
            </div>
            
        
            <div class="field">
                <label class="label">Min Coins</label>
                <div class="control">
                    <input class="input" type="number" name="MinCoins" id='MIN'>
                </div>
            </div> 

            <div class="field">
                <label class="label">Max Coins</label>
                <div class="control">
                    <input class="input" type="number" name="MaxCoins" id='MAX'>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Deal Valid Till</label>
                <div class="control">
                    <input class="input" type="date" name="Deal_Valid_Till" id='Date'>
                </div>
            </div> 

            <div class="field">
                <div class="buttons">
                    <button class="button is-link" type="button" onclick="clickSearch()">
                        Search
                    </button>
                </div>
            </div>
            
        </form>

    </div>
</div>



<nav class="pagination" role="navigation" aria-label="pagination">
    <button class="pagination-previous" id="previousButton" onclick="PreButton()">Previous</button>
    <button class="pagination-next" id="nextButton" onclick="NextButton()">Next page</button>
    <ul class="pagination-list">
        <li>
            <a class="pagination-link" id="firstLink" onclick="firstLink()">1</a>
        </li>
        <li>
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
            <a class="pagination-link" id="previousLink" onclick="PreButton()">45</a>
        </li>
        <li>
            <a class="pagination-link is-current" id="currentLink">46</a>
        </li>
        <li>
            <a class="pagination-link" id="nextLink" onclick="NextButton()">47</a>
        </li>
        <li>
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
            <a class="pagination-link" id="lastLink" onclick="lastLink()">86</a>
        </li>
    </ul>
</nav>

<script>
    function setPagination() {

        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");
        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");
        var firstLink = document.getElementById("firstLink");
        var lastLink = document.getElementById("lastLink");

        var numOfRecords = parseInt("<%= numOfRecords %>");
        //var numOfRecords =2;
        var limit = Math.max(parseInt("<%= req.query.limit %>"), 2) || 2; // ||2 display 2 item at least
        var offset = Math.max(parseInt("<%= req.query.offset %>"), 0) || 0; // 
        var region = '<%= req.query.Region %>';
        var min='<%= req.query.MinCoins %>';
        var max='<%= req.query.MaxCoins %>';
        var date='<%= req.query.Deal_Valid_Till %>';
        //var baseUrl = "/oolong/paginate?limit=" + limit + "&offset=";
        //region= document.getElementById('Region').value;
        //min= document.getElementById('MIN').value;
        //max= document.getElementById('MAX').value;
        //date= document.getElementById('Date').value;
        //var baseUrl = '/oolong/search?Region='+region+'&MinCoins='+min+'&MaxCoins='+max+'&Deal_Valid_Till='+date + "&limit=" + limit +"&offset=";
        

        // firstLink.href = baseUrl + 0;
        // previousButton.href = baseUrl + (offset - limit);
        // previousLink.href = baseUrl + (offset - limit);
        // currentLink.href = baseUrl + offset;
        // nextLink.href = baseUrl + (offset + limit);
        // nextButton.href = baseUrl + (offset + limit);
        // lastLink.href = baseUrl + (Math.ceil(numOfRecords / limit) - 1) * limit;
              
        var currentPageNumber = Math.floor(offset / limit) + 1;

        previousLink.innerHTML = currentPageNumber - 1;
        currentLink.innerHTML = currentPageNumber;
        nextLink.innerHTML = currentPageNumber + 1;
        lastLink.innerHTML = Math.ceil(numOfRecords / limit); 
        // unable previous button
        if (offset < limit) {
            previousButton.setAttribute("disabled", true);
            previousButton.href = "";
            previousLink.style.display = "none";
        }
        // unable next button
        if (offset + limit >= numOfRecords) {
            nextButton.setAttribute("disabled", true);
            nextButton.href = "";
            nextLink.style.display = "none";
        }
    }

    setPagination();

    function clickSearch()
    {
        region= document.getElementById('Region').value;
        min= document.getElementById('MIN').value;
        max= document.getElementById('MAX').value;
        date= document.getElementById('Date').value;
   
       // window.location.href='/oolong/search?Region='+region;
        window.location.href='/oolong/search?Region='+region+'&MinCoins='+min+'&MaxCoins='+max+'&Deal_Valid_Till='+date+"&limit=2" + '&offset=0';
    }

    async function firstLink() {
        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");
        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");
        var lastLink = document.getElementById("lastLink");
        var firstLink = document.getElementById("firstLink");

        previousLink.style.display ="none"; 
        currentLink.innerHTML = firstLink.innerHTML;
        nextLink.innerHTML = 2;
        nextLink.style.display ="block"; 

        previousButton.setAttribute("disabled", true);
        nextButton.removeAttribute("disabled");


        var region = '<%= req.query.Region %>';
        var min='<%= req.query.MinCoins %>';
        var max='<%= req.query.MaxCoins %>';
        var date='<%= req.query.Deal_Valid_Till %>';
        
        var response = await fetch('/oolong/search?Region='+region+'&MinCoins='+min+'&MaxCoins='+max+'&Deal_Valid_Till='+date + "&limit=2&offset=0", {
            method: "GET"
        });

        //Ajax operation
        if (response.ok) {  // receive json data
            var JsonData = await response.json(); // should not be .text()

            var dynamicCode = '';
            

            JsonData.forEach(function (member) {
                dynamicCode +='<div class="column card ">';
                dynamicCode +='<a href="/oolong/detail/'+ member.id +'">';
                dynamicCode +='<div class="column">';
                dynamicCode +='<figure class="image is-square">';
                dynamicCode +='<img style="object-fit:cover" src="'+ member.Image + '" />';
                dynamicCode +='</figure>';
                dynamicCode +='<div class="notification">';
                dynamicCode +='<div class="content is-medium" id="RestaurantName">';
                dynamicCode +=member.Restaurant;
                dynamicCode +='</div>';
                dynamicCode +='<div class="content is-small" id="RestaurantDetail">';
                dynamicCode +=member.Title;
                dynamicCode +='</div>';
                dynamicCode +='<div class="content is-small" id="RestaurantCoins">';
                dynamicCode +='Coins:'+member.Coins;
                dynamicCode +='</div>';
                dynamicCode +='</div></div></a></div>';
                
            });

            dynamicCode +='<div class="column">\
                <form>\
                    <div class="field">\
                        <label class="label">Region</label>\
                        <div class="control">\
                            <div class="select">\
                                <select name="Region" onchange="RegionSelected(this.value)" id="Region">\
                                    <!-- this.value -->>\
                                    <option value="">Not Specified</option>\
                                    <option value="Kowloon">Kowloon</option>\
                                    <option value="HK Island">HK Island</option>\
                                    <option value="New Territories">New Territories</option>\
                                </select>\
                            </div>\
                        </div>\
                    </div>\
                    <div class="field">\
                        <label class="label">Min Coins</label>\
                        <div class="control">\
                            <input class="input" type="number" name="MinCoins" id="MIN">\
                        </div>\
                    </div>\
                    <div class="field">\
                        <label class="label">Max Coins</label>\
                        <div class="control">\
                            <input class="input" type="number" name="MaxCoins" id="MAX">\
                        </div>\
                    </div>\
                    <div class="field">\
                        <label class="label">Deal Valid Till</label>\
                        <div class="control">\
                            <input class="input" type="date" name="Deal_Valid_Till" id="Date">\
                        </div>\
                    </div>\
                    <div class="field">\
                        <div class="buttons">\
                            <button class="button is-link" type="button" onclick="clickSearch()">\
                                Search\
                            </button>\
                        </div>\
                    </div></form></div>';
            
            document.getElementById("main column").innerHTML = dynamicCode ;

        } else {
            alert(response.status + ": " + response.statusText);   
        }

    };

    async function lastLink() {
        
        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");
        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");
        var lastLink = document.getElementById("lastLink");
 
        //var currentPageNumber = Math.floor(offset / limit) + 1;
        previousLink.innerHTML = lastLink.innerHTML-1;
        previousLink.style.display ="block"; //?? will not be display without this sentence
        currentLink.innerHTML = lastLink.innerHTML;
        nextLink.style.display = "none";

        previousButton.removeAttribute("disabled"); //must using removeAttribute
        nextButton.setAttribute("disabled", true);
    
        var region = '<%= req.query.Region %>';
        var min='<%= req.query.MinCoins %>';
        var max='<%= req.query.MaxCoins %>';
        var date='<%= req.query.Deal_Valid_Till %>';
        // Ajax
        var response = await fetch('/oolong/search?Region='+region+'&MinCoins='+min+'&MaxCoins='+max+'&Deal_Valid_Till='+date + "&limit=2&offset="+(lastLink.innerHTML-1)*2, {
            method: "GET"
        });

        if (response.ok) {  // receive json data
            var JsonData = await response.json(); // should not be .text()
            var dynamicCode = '';
            
            JsonData.forEach(function (member) {
                dynamicCode +='<div class="column card ">';
                dynamicCode +='<a href="/oolong/detail/'+ member.id +'">';
                dynamicCode +='<div class="column">';
                dynamicCode +='<figure class="image is-square">';
                dynamicCode +='<img style="object-fit:cover" src="'+ member.Image + '" />';
                dynamicCode +='</figure>';
                dynamicCode +='<div class="notification">';
                dynamicCode +='<div class="content is-medium" id="RestaurantName">';
                dynamicCode +=member.Restaurant;
                dynamicCode +='</div>';
                dynamicCode +='<div class="content is-small" id="RestaurantDetail">';
                dynamicCode +=member.Title;
                dynamicCode +='</div>';
                dynamicCode +='<div class="content is-small" id="RestaurantCoins">';
                dynamicCode +='Coins:'+member.Coins;
                dynamicCode +='</div>';
                dynamicCode +='</div></div></a></div>';
                
            });

            dynamicCode +='<div class="column">\
                <form>\
                    <div class="field">\
                        <label class="label">Region</label>\
                        <div class="control">\
                            <div class="select">\
                                <select name="Region" onchange="RegionSelected(this.value)" id="Region">\
                                    <!-- this.value -->>\
                                    <option value="">Not Specified</option>\
                                    <option value="Kowloon">Kowloon</option>\
                                    <option value="HK Island">HK Island</option>\
                                    <option value="New Territories">New Territories</option>\
                                </select>\
                            </div>\
                        </div>\
                    </div>\
                    <div class="field">\
                        <label class="label">Min Coins</label>\
                        <div class="control">\
                            <input class="input" type="number" name="MinCoins" id="MIN">\
                        </div>\
                    </div>\
                    <div class="field">\
                        <label class="label">Max Coins</label>\
                        <div class="control">\
                            <input class="input" type="number" name="MaxCoins" id="MAX">\
                        </div>\
                    </div>\
                    <div class="field">\
                        <label class="label">Deal Valid Till</label>\
                        <div class="control">\
                            <input class="input" type="date" name="Deal_Valid_Till" id="Date">\
                        </div>\
                    </div>\
                    <div class="field">\
                        <div class="buttons">\
                            <button class="button is-link" type="button" onclick="clickSearch()">\
                                Search\
                            </button>\
                        </div>\
                    </div></form></div>';
            
            document.getElementById("main column").innerHTML = dynamicCode ;

            
        } else {
            alert(response.status + ": " + response.statusText);   
        }
    }

    async function NextButton() {

        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");

        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");
        var lastLink = document.getElementById("lastLink");

        if(parseInt(currentLink.innerHTML) == parseInt(lastLink.innerHTML))//already in last page
        {
            previousButton.removeAttribute("disabled"); //must using removeAttribute
            nextButton.setAttribute("disabled", true);
        }
        else
        {
            //console.log(currentLink.innerHTML);
            previousButton.removeAttribute("disabled"); 
            nextButton.removeAttribute("disabled"); 


            var region = '<%= req.query.Region %>';
            var min='<%= req.query.MinCoins %>';
            var max='<%= req.query.MaxCoins %>';
            var date='<%= req.query.Deal_Valid_Till %>';
            // Ajax
            // parseInt(currentLink.innerHTML)*2,   *2 = *limit
            
            var response = await fetch('/oolong/search?Region='+region+'&MinCoins='+min+'&MaxCoins='+max+'&Deal_Valid_Till='+date +"&limit=2&offset=" +parseInt(currentLink.innerHTML)*2, {
                method: "GET"
            });

            if (response.ok) {  // receive json data
                var JsonData = await response.json(); // should not be .text()
                //console.log(JsonData);
                
                var dynamicCode = '';
            

                JsonData.forEach(function (member) {
                    dynamicCode +='<div class="column card ">';
                    dynamicCode +='<a href="/oolong/detail/'+ member.id +'">';
                    dynamicCode +='<div class="column">';
                    dynamicCode +='<figure class="image is-square">';
                    dynamicCode +='<img style="object-fit:cover" src="'+ member.Image + '" />';
                    dynamicCode +='</figure>';
                    dynamicCode +='<div class="notification">';
                    dynamicCode +='<div class="content is-medium" id="RestaurantName">';
                    dynamicCode +=member.Restaurant;
                    dynamicCode +='</div>';
                    dynamicCode +='<div class="content is-small" id="RestaurantDetail">';
                    dynamicCode +=member.Title;
                    dynamicCode +='</div>';
                    dynamicCode +='<div class="content is-small" id="RestaurantCoins">';
                    dynamicCode +='Coins:'+member.Coins;
                    dynamicCode +='</div>';
                    dynamicCode +='</div></div></a></div>';
                    
                });

                dynamicCode +='<div class="column">\
                    <form>\
                        <div class="field">\
                            <label class="label">Region</label>\
                            <div class="control">\
                                <div class="select">\
                                    <select name="Region" onchange="RegionSelected(this.value)" id="Region">\
                                        <!-- this.value -->>\
                                        <option value="">Not Specified</option>\
                                        <option value="Kowloon">Kowloon</option>\
                                        <option value="HK Island">HK Island</option>\
                                        <option value="New Territories">New Territories</option>\
                                    </select>\
                                </div>\
                            </div>\
                        </div>\
                        <div class="field">\
                            <label class="label">Min Coins</label>\
                            <div class="control">\
                                <input class="input" type="number" name="MinCoins" id="MIN">\
                            </div>\
                        </div>\
                        <div class="field">\
                            <label class="label">Max Coins</label>\
                            <div class="control">\
                                <input class="input" type="number" name="MaxCoins" id="MAX">\
                            </div>\
                        </div>\
                        <div class="field">\
                            <label class="label">Deal Valid Till</label>\
                            <div class="control">\
                                <input class="input" type="date" name="Deal_Valid_Till" id="Date">\
                            </div>\
                        </div>\
                        <div class="field">\
                            <div class="buttons">\
                                <button class="button is-link" type="button" onclick="clickSearch()">\
                                    Search\
                                </button>\
                            </div>\
                        </div></form></div>';
                
                document.getElementById("main column").innerHTML = dynamicCode ;
                
            } else {
                alert(response.status + ": " + response.statusText);   
            }

            // linkbutton refresh
            currentLink.innerHTML = parseInt(currentLink.innerHTML)+1;
            previousLink.innerHTML = parseInt(currentLink.innerHTML)-1;
            nextLink.innerHTML = parseInt(currentLink.innerHTML)+1;
            previousLink.style.display = "block";

            if(parseInt(currentLink.innerHTML) == parseInt(lastLink.innerHTML))//arrived last page
            {
                previousButton.removeAttribute("disabled"); //must using removeAttribute
                nextButton.setAttribute("disabled", true);
                nextLink.style.display = "none";
            }

        }

    }

    async function PreButton() {

        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");

        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");
        var lastLink = document.getElementById("lastLink");

        if(parseInt(currentLink.innerHTML) == 1)//already in first page
        {
            nextButton.removeAttribute("disabled"); //must using removeAttribute
            previousButton.setAttribute("disabled", true);
        }
        else
        {
            //console.log(currentLink.innerHTML);
            previousButton.removeAttribute("disabled"); 
            nextButton.removeAttribute("disabled"); 
            
            
            var region = '<%= req.query.Region %>';
            var min='<%= req.query.MinCoins %>';
            var max='<%= req.query.MaxCoins %>';
            var date='<%= req.query.Deal_Valid_Till %>';
            // Ajax
            // parseInt(currentLink.innerHTML)*2,   *2 = *limit
            var response = await fetch('/oolong/search?Region='+region+'&MinCoins='+min+'&MaxCoins='+max+'&Deal_Valid_Till='+ date +"&limit=2&offset="+(parseInt(previousLink.innerHTML)-1)*2, {
                method: "GET"
            });

            if (response.ok) {  // receive json data
                var JsonData = await response.json(); // should not be .text()
                //console.log(JsonData);
                
                var dynamicCode = '';
            
                JsonData.forEach(function (member) {
                    dynamicCode +='<div class="column card ">';
                    dynamicCode +='<a href="/oolong/detail/'+ member.id +'">';
                    dynamicCode +='<div class="column">';
                    dynamicCode +='<figure class="image is-square">';
                    dynamicCode +='<img style="object-fit:cover" src="'+ member.Image + '" />';
                    dynamicCode +='</figure>';
                    dynamicCode +='<div class="notification">';
                    dynamicCode +='<div class="content is-medium" id="RestaurantName">';
                    dynamicCode +=member.Restaurant;
                    dynamicCode +='</div>';
                    dynamicCode +='<div class="content is-small" id="RestaurantDetail">';
                    dynamicCode +=member.Title;
                    dynamicCode +='</div>';
                    dynamicCode +='<div class="content is-small" id="RestaurantCoins">';
                    dynamicCode +='Coins:'+member.Coins;
                    dynamicCode +='</div>';
                    dynamicCode +='</div></div></a></div>';
                    
                });

                dynamicCode +='<div class="column">\
                    <form>\
                        <div class="field">\
                            <label class="label">Region</label>\
                            <div class="control">\
                                <div class="select">\
                                    <select name="Region" onchange="RegionSelected(this.value)" id="Region">\
                                        <!-- this.value -->>\
                                        <option value="">Not Specified</option>\
                                        <option value="Kowloon">Kowloon</option>\
                                        <option value="HK Island">HK Island</option>\
                                        <option value="New Territories">New Territories</option>\
                                    </select>\
                                </div>\
                            </div>\
                        </div>\
                        <div class="field">\
                            <label class="label">Min Coins</label>\
                            <div class="control">\
                                <input class="input" type="number" name="MinCoins" id="MIN">\
                            </div>\
                        </div>\
                        <div class="field">\
                            <label class="label">Max Coins</label>\
                            <div class="control">\
                                <input class="input" type="number" name="MaxCoins" id="MAX">\
                            </div>\
                        </div>\
                        <div class="field">\
                            <label class="label">Deal Valid Till</label>\
                            <div class="control">\
                                <input class="input" type="date" name="Deal_Valid_Till" id="Date">\
                            </div>\
                        </div>\
                        <div class="field">\
                            <div class="buttons">\
                                <button class="button is-link" type="button" onclick="clickSearch()">\
                                    Search\
                                </button>\
                            </div>\
                        </div></form></div>';
                
                document.getElementById("main column").innerHTML = dynamicCode ;
                
            } else {
                alert(response.status + ": " + response.statusText);   
            }

            // linkbutton refresh
            currentLink.innerHTML = parseInt(currentLink.innerHTML)-1;
            previousLink.innerHTML = parseInt(currentLink.innerHTML)-1;
            nextLink.innerHTML = parseInt(currentLink.innerHTML)+1;
            nextLink.style.display = "block";

            if(parseInt(currentLink.innerHTML) == 1)//arrived last page
            {
                nextButton.removeAttribute("disabled"); //must using removeAttribute
                previousButton.setAttribute("disabled", true);
                previousLink.style.display = "none";
            }

        }

    }
</script>