<!--update.ejs-->
<form action="/oolong/update/<%= info.id %>" method="post">
    <div class="columns"> 
        <div class="column is-half">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" name="Title" value="<%= info.Title %>" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Restaurant</label>
                <div class="control">
                    <input class="input" type="text" name="Restaurant" value="<%= info.Restaurant %>" required>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Region</label>
                        <div class="control">
                            <div class="select">
                                <select name="Region" onchange="RegionSelected(this.value)" required>
                                    <!-- this.value -->
                                    <option value="<%= info.Region %>"><%= info.Region %></option>
                                    <option value="Kowloon">Kowloon</option>
                                    <option value="HK Island">HK Island</option>
                                    <option value="New Territories">New Territories</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label class="label">Mall</label>
                        <div class="control">
                            <div class="select">
                                <select name="Mall" id="mall" required>
                                    <option value="<%= info.Mall %>"><%= info.Mall %></option> 
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Image</label>
                <div class="control">
                    <input class="input" type="text" name="Image" value="<%= info.Image %>" required>
                </div>
            </div>


        </div>

        <div class="column is-half">

            <div class="columns">
                <div class="column is-half">
                    <div class="field">
                        <label class="label">Quata</label>
                        <div class="control">
                            <input class="input" type="number" name="Quata" value="<%= info.Quata %>" required>
                        </div>
                    </div> 
                </div>

                <div class="column is-half">
                    <div class="field">
                        <label class="label">Coins</label>
                        <div class="control">
                            <input class="input" type="number" name="Coins" value="<%= info.Coins %>" required>
                        </div>
                    </div> 
                </div>  
            </div>

            <div class="field">
                <label class="label">Deal Valid</label>
                <div class="control">
                    <input class="input" type="date" name="Deal_Valid_Till" value="<%= info.Deal_Valid_Till %>" required>
                </div>
            </div> 

            <div class="field">
                <label class="label">Detail</label>
                <div class="control">
                    <input class="input" type="text" name="Detail" value="<%= info.Detail %>" required>
                </div>
            </div> 

            <div class="column">
                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">Submit</button>
                    </div>    
                </div>             
            </div>

        </div> 
    </div>

    <script>
        var Kowloon= ["Elements", "Harbour City"];
        var HK_Island = ["IFC MALL", "Pacific Place"];  
        var New_Territories = ["New Town Plaza","Tsuen Wan Plaza"];

        function RegionSelected(region) {
        //alert(team);
            var mallElem = document.getElementById("mall");
            mallElem.options.length = 0;

            if (region == "Kowloon") {
                Kowloon.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    mallElem.add(option);
                });

                mallElem.disabled = false;

                } else if (region == "HK Island") {

                HK_Island.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    mallElem.add(option);
                });

                mallElem.disabled = false; //flag

                } else if (region == "New Territories") {

                New_Territories.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    mallElem.add(option);
                });

                mallElem.disabled = false; //flag

                } else {

                mallElem.disabled = true; //flag switch to disabled select
            }
        }

    </script>
</form>

<form action="/oolong/delete/<%= info.id %>" method="POST">
    <div class="column">
        <button class="button is-danger" type="submit">Delete</button>
    </div>
</form>